@import "../../styles/main.scss";

.layout {
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: get-color("base", "text-default");
  font-family: $font-stack-default;
  @include text("m");

  > div:first-child,
  div[role="group"][tabindex] {
    height: 100%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-stack-headlines;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: unset;
  text-decoration: unset;
}

button {
  border-width: 0;
  box-shadow: none;
}
