.skyCanvas,
.skyWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 94px;
  height: 94px;
  transform: translateX(calc(-50% - 2px)) translateY(-50%);
  z-index: 3;
}
