@import "../../styles/constants/breakpoints";

.particles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.metatron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 435px;
  max-height: 482px;
  z-index: 2;
  overflow: visible;

  @media (min-width: #{map-get($breakpoints, 'medium')}) {
    min-width: 435px;
    min-height: 482px;
  }
}

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}
